@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}

.br {
  border: 2px solid red;
}
.bgr {
  border: 2px solid green;
}
@media (min-width: 768px) {
  .bbl {
    border: 2px solid blue;
  }
}

.bb {
  border: 2px solid blue;
}
.by {
  border: 2px solid yellow;
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="tel"],
input[type="email"] {
  outline: none;
}

textarea {
  outline: none;
  resize: none;
}
.bglight {
  background-color: #f0f8ff;
}

.bg-dark {
  background-color: #4361ee;
}

.pop {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.pop1 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.image--cover {
  /* width: 100px; */
  /* height: 100px; */
  border-radius: 50%;
  object-fit: cover;
  object-position: center right;
}

.bl {
  border: 2px solid black;
}

/* Map */

.leaflet-container {
  height: 500px;
  width: 100%;
}
